<div class="navbar">
  <span onclick="toggleSidebar()"><i class="material-icons nav-menu">menu</i>{{ serviceName }}</span>
  <!-- Allow changing this somehow. Partial that's constructed by handlebars? Default parameter perhaps? Specified in config. !-->
  <div class="nav-buttons">
    <a href="{{url}}">
      <button>{{text}}</button>
    </a>
  </div>
</div>