{{> head}}

<body>
  {{> navbar}}
  <div class="centered">
    <table class="file-list">
      <tr>
        <th>Filename</th>
        <th>Uploaded</th>
        <th>Expires</th>
        <th>Options</th>
      </tr>
      <!-- files -->
    </table>
  </div>
</body>