{{#> partialhead}}
<script src="f.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{/partialhead}}

<body>
  {{> navbar}}
  <div class="index-container">
    <div class="uploader">
      <input id="file" name="file" type="file">
      <button id="upload" onclick="upload()">Upload</button>
      <div class="progressBar" id="progress"></div>
      <input id="url-box" readonly type="text" style="display: none;">
    </div>
  </div>
</body>