{{> head}}

<body>
  {{> navbar}}
  <div class="container">
    <div class="uploader">
      <input id="file" name="file" type="file">
      <button id="upload" onclick="upload()">Upload</button>
      <div class="progressBar" id="progress"></div>
      <input id="url-box" readonly type="text" style="display: none;">
    </div>
  </div>
</body>