{{> head}}

<body>
  {{> navbar}}
  <div class="container" style="flex-direction: column;">
    <h2 style="margin: 2px;">What you're looking for doesn't exist.</h2>
    <h6 style="margin: 5px 0px 10px;">Or maybe it does but you just mistyped something.</h6>
    <a href="/" style="color: #1e90ff;">Head back</a>
  </div>
</body>