{{> head}}

<body>
  {{> navbar}}
  <div class="container">
    <h2>What you're looking for doesn't exist.</h2>
    <h6>Or, maybe it does and you mistyped something?</h6>
    <a href="/" style="color: #1e90ff;">Head back</a>
  </div>
</body>