@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body, html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto Light', sans-serif;
  background: #272727;
  color: white;
}

/* Head */
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background: #3f4041;
  /* box-shadow: 0px 1px 10px 1px rgb(20, 20, 20); */
  border-bottom: 1px solid #101010;
  z-index: 10;
}

.navbar span {
  padding-left: 15px;
  font-size: 20px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.nav-menu {
  visibility: hidden;
  vertical-align: middle;
}

.nav-buttons {
  margin-right: 15px;
}

.nav-buttons button {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  height: 100%;
  width: 75px;
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Roboto Light';
}

.nav-buttons button:hover {
  background-color: rgb(70, 70, 70);
  transition: 0.5s;
}

/* Index */
.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 75px);
}

.uploader {
  display: flex;
  flex-direction: column;
  width: 20em;
}

.uploader input[type=file] {
  font-family: 'Roboto Light', sans-serif;
  border: 2px solid rgb(120, 120, 120);
  box-sizing: border-box;
  padding: 20px;
  background: none;
}

.uploader input[type=text] {
  position: relative;
  top: 30px;
  background: rgb(70, 70, 70);
  border: 1px solid black;
  padding: 6px;
  color: white;
  outline: none;
}

.uploader input[type=text]::placeholder {
  color: rgb(170, 170, 170);
}

.uploader button {
  position: relative;
  top: 20px;
  background: rgb(70, 70, 70);
  border: none;
  color: rgb(170, 170, 170);
  padding: 5px;
  box-shadow: 0px 3px 0px 0px rgb(20, 20, 20);
  outline: none;
}

.uploader button:active {
  box-shadow: none;
  top: 22px;
}

.progressBar {
  background-color: white;
  width: 0px;
  height: 1px;
  position: relative;
  top: 23px;
}

/* Not Found */
.container {
  height: 100%;
  line-height: 1em;
  margin-left: 10px;
}

/* Dashboard */
.dashboard-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  background-color: #303030;
  width: 200px;
  border-right: 1px solid #101010;
}

.sidebar span {
  display: block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 22px;
  border-bottom: 1px solid #252525;
}

.sidebar button {
  position: relative;
  outline: none;
  border: none;
  background-color: #303030;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  transition: background-color 0.2s;
  text-align: left;
  padding-left: 40px;
}

.selected {
  background-color: #272727 !important;
}

.sidebar button::before {
  position: absolute;
  display: block;
  left: 0;
  content: '';
  transition: width 0.3s ease, left 0.3s ease;
}

.sidebar button:hover {
  background-color: #404040;
  transition: background-color 0.2s;
}

.sidebar button:hover::before {
  content: '> ';
  left: 10px;
  width: calc(100% - 10px);
}

.sidebar button:active {
  background-color: #353535;
}

.dropzone {
  background-color: #505050a2;
  position: absolute;
  display: flex;
  top: calc(20px + ((100% - 20px) / 2) - 100px); /* margin + ((remaining parent width - margin / 2) - half_of_div_width) */
  left: calc(20px + ((100% - 20px) / 2) - 250px);
  height: 200px;
  width: 500px;
  border-radius: 10px;
  font-size: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(.77, .77, 0, 1);
  transition-property: visibility, width, height, left, top, opacity;
  z-index: 10;
}

.dropzone * {
  pointer-events: none;
}

.dropzone i {
  font-size: 96px;
}

.file-container {
  align-self: flex-start;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

.file-container::-webkit-scrollbar {
  width: 15px;
  background-color: #404040;
}

.file-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.file-container::-webkit-scrollbar-thumb {
  background-color: #505050;
}

.file-container::-webkit-scrollbar-thumb:hover {
  background-color: #707070;
}

.file-container::-webkit-scrollbar-thumb:active {
  background-color: #606060;
}

.file-list {
  width: calc(100% - 40px);
  margin: 20px 20px 20px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-spacing: 0;
  text-align: right;
  table-layout: auto;
}

.file-list tr {
  width: 100%;
}

.file-list td:first-child, .file-list th:first-child {
  width: 70%;
  text-align: left;
}

.file-list td:first-child > i {
  vertical-align: bottom;
  margin-right: 7px;
}

.file-list th {
  background: rgb(25, 25, 25);;
  padding: 10px;
  font-weight: 100;
}

.file-list tr:nth-child(odd) {
  background: #303030;
}

.file-list td {
  padding: 10px 10px;
  cursor: pointer;
}

.previewer-pane {
  background-color: #0000009a;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: all 0.2s ease-out;
  transition-property: visibility, opacity;
}

.previewer-pane img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.unhide-slide {
  left: 0 !important;
  visibility: visible !important;
}

.unhide-opacity {
  visibility: visible;
  opacity: 100%;
  transition: all 0.2s ease-in;
  transition-property: visibility, opacity;
}

.unhide-scale {
  visibility: visible;
  top: 20px;
  left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  opacity: 100%;
  /* transition: all 0.3s cubic-bezier(0,1.51,.77,.77); */
  transition: all 0.2s ease-out;
  transition-property: visibility, width, height, left, top, opacity;
}

td progress {
  display: inline-block;
  margin-left: 15px;
  width: 100px;
  border: 1px solid #404040;
  background-color: #272727;
  color: #1E90FF;
}

td progress::-moz-progress-bar {
  background-color: #272727;
  background: #1E90FF;
}

td progress::-webkit-progress-bar {
  background-color: #272727;
}

td progress::-webkit-progress-value {
  background: #1E90FF;
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    visibility: visible;
    margin-right: 10px;
  }

  .sidebar {
    position: fixed;
    left: -300px;
    height: 100%;
    visibility: hidden;
    transition: all 0.4s ease;
    transition-property: left, visibility;
  }
}
